<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>All Cars</h2>
<br>

<table>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
    </tr>

    <th:block
    th:each = "car : ${allCars}">
       <tr>
           <td th:text="${car.getBrand()}" ></td>
           <td th:text="${car.getModel()}" ></td>
           <td th:text="${car.getColor()}" ></td>
       </tr>
    </th:block>>
</table>

</body>
</html>